# OS junk files
*.DS_Store
**/.DS_Store

# build directory
build/*

# KITTI dataset
evaluation/**/kitti/
evaluation/results/**/errors/
evaluation/results/**/plot_error/
evaluation/results/**/plot_path/


